/*------------------------------mainscreen-----------------------------------*/

.mainscreen {
	padding-top: calc(var(--header-height) + 25px);
	padding-bottom: 170px;
}
.mainscreen__meteor {
	width: 1150px;
	height: 1150px;
	left: -316.5px;
	top: -302.5px;
	animation: meteor_rotate 32s linear infinite;
}
@keyframes meteor_rotate {
	from {
		transform: rotateZ(0);
	}
	to {
		transform: rotateZ(-360deg);
	}
}
.mainscreen__grid {
	display: grid;
	grid-template-columns: 3fr 2fr;
	grid-column-gap: 154px;
	grid-row-gap: 135px;
}
.mainscreen__left {
	padding-bottom: 77px;
}
.mainscreen__logo {
	width: 250px;
	margin-bottom: 23px;
}
.mainscreen__title {
	font-size: 50px;
	margin-bottom: 45px;
}
.mainscreen__list {
	position: relative;
	align-self: end;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.mainscreen__list::before {
	content: '';
	position: absolute;
	right: calc(100% + 20px);
	top: var(--mainscreen-rect-pos);
	transform: translateY(-10%);
	display: block;
	width: 6px;
	height: 34px;
	background: var(--blue-color);
	transition: top var(--hover-time) ease-out;
}
.mainscreen__list-item {}
.mainscreen__rocket {
	width: 317px;
	top: 200px;
	right: -10px;
}
.mainscreen__rocket.ready {
	animation: floating 6s cubic-bezier(.5,0,.5,1) infinite;
}
.mainscreen__link {
	position: absolute;
	top: calc(100vh - 23px - 3vw);
	left: 50%;
	transform: translateX(-50%);
	font-size: 23px;
	color: var(--main-color);
	opacity: 0;
	visibility: hidden;
	transition: var(--hover-time);
	transition-property: opacity, visibility;
}
.mainscreen__link.visible {
	opacity: 1;
	visibility: visible;
}

/*------------------------------intro-----------------------------------*/

.intro {}
.intro__header {
	background: var(--contr-color);
	padding-top: 108px;
	padding-bottom: 20px;
	clip-path: ellipse(60% 0% at 50% 220%);
	transition: clip-path var(--anim-time) ease-out;
}
.intro__header.animated {
	clip-path: ellipse(60% 220% at 50% 220%);
}
.intro__title {
	max-width: 615px;
	text-align: center;
	margin: auto;
}
.intro__container {
	background: var(--contr-color);
	padding-top: 60px;
	padding-bottom: 150px;
}
.intro__grid {
	margin-bottom: 90px;
}
.intro__left-text {
	position: relative;
	padding-right: 10px;
}
.intro__left-text:after {
	content: '';
	position: absolute;
	right: -15px;
	top: 0;
	width: 1px;
	height: 100%;
	background: var(--main-color);
}
.intro__right-text-block {}
.intro__img-block {}
.intro__robot {
	overflow: visible;
	position: absolute;
	left: -32px;
	bottom: 0;
	width: 395px;
}
.robot__trajectory {
	stroke: transparent;
}
.robot__heart {
	transform-origin: center;
	transform-box: fill-box;
	opacity: 0;
	visibility: hidden;
}
.robot__heart.transition {
	transition: var(--anim-time);
	transition-property: opacity, visibility;
}

/*------------------------------clients-----------------------------------*/

.clients {
	position: relative;
	z-index: 1;
	background: var(--contr-color);
	padding-top: 100px;
	padding-bottom: 100px;
}
.clients__title {
	text-align: center;
	margin-bottom: 95px;
}
.clients__container {
	position: relative;
	padding-top: 30.8%;
}
.clients__img {
	transition: transform 75ms;
}
.clients__client {
	position: absolute;
}
.client__cola {
	width: calc( (212 / var(--clients-block-width) ) * 100%);
	left: calc( (1 / var(--clients-block-width) ) * 100%);
	top: calc( (27 / var(--clients-block-height) ) * 100%);
}
.client__hp {
	width: calc( (90 / var(--clients-block-width) ) * 100%);
	left: calc( (109 / var(--clients-block-width) ) * 100%);
	bottom: calc( (32 / var(--clients-block-height) ) * 100%);
}
.client__fiverr {
	width: calc( (136 / var(--clients-block-width) ) * 100%);
	left: calc( (353 / var(--clients-block-width) ) * 100%);
	top: calc( (8 / var(--clients-block-height) ) * 100%);
}
.client__intel {
	width: calc( (188 / var(--clients-block-width) ) * 100%);
	left: calc( (228 / var(--clients-block-width) ) * 100%);
	top: calc( (140 / var(--clients-block-height) ) * 100%);
}
.client__google {
	width: calc( (195 / var(--clients-block-width) ) * 100%);
	left: calc( (328 / var(--clients-block-width) ) * 100%);
	bottom: calc( (1 / var(--clients-block-height) ) * 100%);
}
.client__microsoft {
	width: calc( (160 / var(--clients-block-width) ) * 100%);
	left: calc( (517 / var(--clients-block-width) ) * 100%);
	top: calc( (85 / var(--clients-block-height) ) * 100%);
}
.client__pfizer {
	width: calc( (127 / var(--clients-block-width) ) * 100%);
	left: calc( (475 / var(--clients-block-width) ) * 100%);
	top: calc( (184 / var(--clients-block-height) ) * 100%);
}
.client__meta {
	width: calc( (165 / var(--clients-block-width) ) * 100%);
	right: calc( (437 / var(--clients-block-width) ) * 100%);
	top: calc( (183 / var(--clients-block-height) ) * 100%);
}
.client__amazon {
	width: calc( (220 / var(--clients-block-width) ) * 100%);
	right: calc( (277 / var(--clients-block-width) ) * 100%);
	top: calc( (1 / var(--clients-block-height) ) * 100%);
}
.client__nice {
	width: calc( (167 / var(--clients-block-width) ) * 100%);
	right: calc( (224 / var(--clients-block-width) ) * 100%);
	top: calc( (148 / var(--clients-block-height) ) * 100%);
}
.client__philips {
	width: calc( (224 / var(--clients-block-width) ) * 100%);
	right: calc( (217 / var(--clients-block-width) ) * 100%);
	top: calc( (268 / var(--clients-block-height) ) * 100%);
}
.client__bcg {
	width: calc( (189 / var(--clients-block-width) ) * 100%);
	right: calc( (23 / var(--clients-block-width) ) * 100%);
	top: calc( (65 / var(--clients-block-height) ) * 100%);
}
.client__sapiens {
	width: calc( (157 / var(--clients-block-width) ) * 100%);
	right: calc( (1 / var(--clients-block-width) ) * 100%);
	top: calc( (223 / var(--clients-block-height) ) * 100%);
}
.clients__diamond-bold {
	width: calc( (17 / var(--clients-block-width) ) * 100%);
	left: calc( (62 / var(--clients-block-width) ) * 100%);
	top: calc( (219 / var(--clients-block-height) ) * 100%);
}
.clients__meteor-1 {
	width: calc( (33 / var(--clients-block-width) ) * 100%);
	left: calc( (196 / var(--clients-block-width) ) * 100%);
	top: calc( (166 / var(--clients-block-height) ) * 100%);
}
.clients__meteor-2 {
	width: calc( (24 / var(--clients-block-width) ) * 100%);
	left: calc( (293 / var(--clients-block-width) ) * 100%);
	top: calc( (62 / var(--clients-block-height) ) * 100%);
}
.clients__meteor-3 {
	width: calc( (31 / var(--clients-block-width) ) * 100%);
	left: calc( (452 / var(--clients-block-width) ) * 100%);
	top: calc( (142 / var(--clients-block-height) ) * 100%);
}
.clients__diamond-1 {
	width: calc( (28 / var(--clients-block-width) ) * 100%);
	left: calc( (587 / var(--clients-block-width) ) * 100%);
	bottom: calc( (58 / var(--clients-block-height) ) * 100%);
}
.clients__star {
	width: calc( (104 / var(--clients-block-width) ) * 100%);
	right: calc( (513 / var(--clients-block-width) ) * 100%);
	top: calc( (8 / var(--clients-block-height) ) * 100%);
}
.clients__meteor-4 {
	width: calc( (31 / var(--clients-block-width) ) * 100%);
	right: calc( (511 / var(--clients-block-width) ) * 100%);
	bottom: calc( (19 / var(--clients-block-height) ) * 100%);
}
.clients__meteor-5 {
	width: calc( (25 / var(--clients-block-width) ) * 100%);
	right: calc( (176 / var(--clients-block-width) ) * 100%);
	top: calc( (15 / var(--clients-block-height) ) * 100%);
}
.clients__diamond-2 {
	width: calc( (28 / var(--clients-block-width) ) * 100%);
	right: calc( (181 / var(--clients-block-width) ) * 100%);
	bottom: calc( (102 / var(--clients-block-height) ) * 100%);
}

/*------------------------------steps-----------------------------------*/

.steps {
	z-index: 3;
	background: linear-gradient(157.62deg, #2E4176 5.22%, #2D5083 98.73%);
	padding-top: 323px;
	padding-bottom: 317px;
}
.steps__top-line {
	position: absolute;
	left: 0;
	bottom: 100%;
	width: 100%;
	height: 11px;
	background: var(--main-color);
	transition: bottom var(--anim-time) ease-out;
}
.steps__top-line.animated {
	bottom: calc(100% + 16px);
}
.wave-top {
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.steps__title {
	font-size: 60px;
	margin-bottom: 104px;
}
.steps__container {
	margin-bottom: 140px;
}
.steps__step {
	position: relative;
	max-width: 600px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	column-gap: 50px;
	box-sizing: border-box;
}
.steps__step:not(:last-child) {
	margin-bottom: 88px;
}
.steps__step:nth-child(2n) {
	padding-left: 62px;
}
.steps__step:nth-child(2n) > .step_numb {
	-webkit-text-stroke: 1px var(--purple-color);
	background-image: radial-gradient(var(--purple-color) 50%, transparent 50%);
}
.step_numb {
	position: relative;
	font-family: PT Serif;
	font-style: normal;
	font-size: 100px;
	color: transparent;
	-webkit-text-stroke: 1px var(--blue-color);
	background-clip: text;
	background-image: radial-gradient(var(--blue-color) 50%, transparent 50%);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 0 0;
	transition: background var(--anim-time);
}
.step_numb.animated {
	background-size: 120px 120px;
}
.step__text-block {}
.step__title {
	font-family: PT Serif;
	font-style: italic;
	font-weight: 700;
	font-size: 36px;
	line-height: 89%;
	letter-spacing: 0.75px;
	color: var(--contr-color);
	margin-bottom: 18px;
}
.steps__arrow {
	position: absolute;
}
.step-1__arrow {
	width: 147px;
	top: 50%;
	right: -115px;
}
.step-2__arrow {
	width: 147px;
	transform: rotateZ(82deg);
	right: -122px;
	top: 90%;
}
.step-3__arrow {
	width: 192px;
	right: 57px;
	top: 100%;
}
.steps__footnote {
	max-width: 710px;
	display: grid;
	grid-template-columns: 97px 1fr;
	grid-column-gap: 59px;
	grid-row-gap: 38px;
	margin: auto;
}
.steps__lamp {
	grid-row-start: 1; 
	grid-row-end: 3;
	transition: filter var(--hover-time) ease-out; 
}
.steps__footnote:hover > .steps__lamp {
	filter: drop-shadow(0px 0px 15px #FFC700);
}
.steps-footnote__text {
	margin-bottom: 38px;
}
.steps__button {
	width: min-content;
}
.steps__koala {
	width: 484px;
	top: 0px;
	right: -70px;
	padding-top: 10px;
	padding-bottom: 100px;

}
.koala__eye {
	transform-origin: center;
	transform-box: fill-box;
	animation: blink 10s linear infinite;
}
@keyframes blink {
	from {
		transform: scaleY(1);
	}
	75% {
		transform: scaleY(1);
	}
	76% {
		transform: scaleY(.1);
	}
	77% {
		transform: scaleY(1);
	}
	79% {
		transform: scaleY(1);
	}
	80% {
		transform: scaleY(.1);
	}
	81% {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(1);
	}
}
.steps__moon {
	width: 42px;
	top: 498px;
	right: 83px;
}
.steps__star {
	width: 32px;
	top: 722px;
	right: 58px;
}
.steps__grey-star {
	width: 32px;
	top: 1026px;
	right: 350px;
	transform: rotateZ(48deg);
}
.wave-bot {
	overflow: visible;
	position: absolute;
	bottom: 0;
	left: 0;
}
.steps__bot-line-1 {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 11px;
	background: var(--main-color);
	transition: top var(--anim-time) ease-out;
}
.steps__bot-line-1.animated {
	top: calc(100% + 23px);
}
.steps__bot-line-2 {
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	height: 4px;
	background: var(--main-color);
	transition: top var(--anim-time) ease-out;
}
.steps__bot-line-2.animated {
	top: calc(100% + 57px);
}

/*------------------------------features-----------------------------------*/

.features {
	z-index: 2;
	background: linear-gradient(180deg, #1B2B42 0%, #224173 100%);
	padding-top: 178px;
	padding-bottom: 260px;
}
.features__sticky-cont {
	padding-top: 204px;
}
.features__nav-block {
	left: 0;
	width: 100%;
	padding-bottom: 7vh;
}
.features__nav {
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 100px;
}
.features__nav-item {
	opacity: 0.6;
	cursor: pointer;
}
.features__nav-item.active {
	opacity: 1;
	pointer-events: none;
}
.features__counter {
	width: var(--features-count-width);
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 53px;
	margin-left: auto;
}
.features__counter-item {
	height: 32px;
	width: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	border: 1px solid var(--contr-color);
	border-radius: 50%;
	cursor: pointer;
	transition: var(--hover-time) ease-out;
	transition-property: width, height;
}
.features__counter-item > .title {
	color: transparent;
	transform: translate(-1%, 5%);
	transition: color var(--hover-time) ease-out;
}
.features__counter-item.active {
	width: var(--features-count-width);
	height: var(--features-count-width);
	pointer-events: none;
}
.features__counter-item.active > .title {
	color: var(--contr-color);
}
.features__body {
	display: flex;
	flex-direction: column;
	row-gap: 193px;
}
.features__card {
	display: grid;
	grid-template-columns: 252px 1fr;
	grid-column-gap: 22px;
	padding-right: calc(var(--features-count-width) + 40px);
}
.features__img {
	margin-left: auto;
	transform: scale(0.8);
	opacity: 0;
	transform-origin: center;
	transition: var(--hover-time) ease-out;
	transition-property: transform, opacity;
}
.features__img.animated {
	opacity: 1;
	transform: scale(1);
}
.features__card-subtitle {
	margin-bottom: 33px;
}
.features__card-text {
	margin-bottom: 30px;
}
.features__koala-1 {
	width: 172px;
}
.features__koala-2 {}
.features__koala-3 {
	width: 192px;
}
.features__decor-block {}
.features__white-plus {
	width: 29px;
}
.features__plus {
	width: 31px;
}
.features__plus-1 {
	top: calc( (287 / 2916) * 100%);
	left: calc( (62 / 1440) * 100%);
}
.features__plus-2 {
	top: calc( (726 / 2916) * 100%);
	left: calc( (257 / 1440) * 100%);
}
.features__plus-3 {
	top: calc( (1083 / 2916) * 100%);
	left: calc( (98 / 1440) * 100%);
}
.features__plus-4 {
	bottom: calc( (1079 / 2916) * 100%);
	left: calc( (214 / 1440) * 100%);
}
.features__plus-5 {
	bottom: calc( (754 / 2916) * 100%);
	left: calc( (98 / 1440) * 100%);
}
.features__plus-6 {
	bottom: calc( (116 / 2916) * 100%);
	left: calc( (160 / 1440) * 100%);
}
.features__circle-1 {
	top: calc( (545 / 2916) * 100%);
	left: calc( (-153 / 1440) * 100%);
	display: block;
	width: 394px;
	height: 394px;
	background: var(--purple-color);
	border-radius: 50%;
}
.features__circle-2 {
	bottom: calc( (1110 / 2916) * 100%);
	right: calc( (-122 / 1440) * 100%);
	display: block;
	width: 394px;
	height: 394px;
	background: var(--blue-color);
	border-radius: 50%;
}
.features__semicircle {
	position: absolute;
	top: 100%;
	height: var(--features-semicircle-height);
	width: 100%;
	background: #224173;
	clip-path: ellipse(60% 0% at 50% -40%);
	transition: clip-path var(--hover-time) ease-out;
}
.features__semicircle.animated {
	clip-path: ellipse(60% 120% at 50% -40%);
}

/*------------------------------about-----------------------------------*/

.about {
	background: var(--contr-color);
	padding-top: calc(var(--features-semicircle-height) + 200px);
	padding-bottom: 110px;
}
.about__flask {
	width: 66px;
	top: 294px;
	left: 43px;
}
.about__blue-flask {
	width: 95px;
	top: 225px;
	left: 121px;
}
.about__body {}
.about__title {
	margin-bottom: 35px;
}
.about__imgs-block {
	position: absolute;
	top: -32px;
	right: -402px;
}
.about__circle {
	position: relative;
	display: block;
	width: 1075px;
	height: 1075px;
	border: 1px dashed #789CB1;
	border-radius: 50%;
}
.about__lamp {
	width: 192px;
	top: 451px;
	left: 256px;
}
.about__koala-1 {
	width: 115px;
	top: 443px;
	left: 468px;
	animation: floating 4.5s cubic-bezier(.5,0,.5,1) -1s infinite;
}
.about__koala-2 {
	width: 108px;
	top: 516px;
	left: 131px;
	animation: floating 5s cubic-bezier(.5,0,.5,1) infinite;
}
.about__koala-3 {
	width: 102px;
	bottom: 329px;
	left: 430px;
	animation: floating 4s cubic-bezier(.5,0,.5,1) infinite;
}
.about__lightning {
	width: 59px;
	bottom: 299px;
	left: 196px;
	animation: floating 5.5s cubic-bezier(.5,0,.5,1) infinite;
}
.about__plus-fill {
	width: 29px;
	top: 409px;
	left: 432px;
	animation: floating 5.1s cubic-bezier(.5,0,.5,1) infinite;
}
.about__x {
	width: 44px;
	bottom: 259px;
	left: 454px;
	animation: floating 5.2s cubic-bezier(.5,0,.5,1) infinite;
}
.about__star {
	width: 41px;
	top: 438px;
	left: 223px;
	animation: floating 5.3s cubic-bezier(.5,0,.5,1) infinite;
}
.about__star-fill-1 {
	width: 15px;
	bottom: 399px;
	left: 249px;
	animation: floating 5.4s cubic-bezier(.5,0,.5,1) infinite;
}
.about__star-fill-2 {
	width: 15px;
	bottom: 463px;
	left: 494px;
	animation: floating 5s cubic-bezier(.5,0,.5,1) infinite;
}

/*------------------------------team-----------------------------------*/

.team {
	z-index: 2;
	background: var(--contr-color);
	padding-top: 60px;
	padding-bottom: 82px;
}
.team__title {
	margin-bottom: 77px;
}
.slider {}
.team__slider {
	display: flex;
	align-items: flex-start;
}
.slider__button {
	display: none;
	height: auto;
	font-size: 36px;
	color: var(--main-color);
	padding: 20px 3px;
	margin-top: 35%;
}
.slider__left-button {}
.slider__right-button {}
.slider__body {}
.team__slider-body {}
.slider__tape {
	display: flex;
	column-gap: var(--team-column-gap);
	transition: transform var(--hover-time) ease-out;
}
.team__slider-tape {
	flex-wrap: wrap;
	row-gap: 20px;
}
.slider__item {
	flex-shrink: 0;
}
.team__card {
	position: relative;
	z-index: 2;
	width: calc( ( 100% - ( (var(--team-column-numb) - 1) * var(--team-column-gap) ) ) / var(--team-column-numb) );
	height: max-content;
	background: var(--contr-color);
	perspective: 800px;
	user-select: none;
	padding-bottom: 10px;
}
.team__card:nth-child(2n) {margin-top: 40px;}
.team-card__img-block {
	position: relative;
	height: 324px;
	border: 6px solid var(--main-color);
	transform-style: preserve-3d;
	box-sizing: border-box;
	margin-left: 24px;
	margin-bottom: 44px;
}
.team__name {
	position: absolute;
	left: -30px;
	bottom: -30px;
	width: fit-content;
	background: var(--contr-color);
	font-size: 30px;
	line-height: 120%;
	box-sizing: border-box;
	border: 2px solid var(--main-color);
	padding: 10px;
}
.team__position {
	margin-left: 5px;
	margin-bottom: 11px;
}
.slider__points-block {
	display: none;
	width: 80%;
	align-items: center;
	justify-content: space-between;
	margin: auto;
}
.slider-point {
	height: 12px;
	width: 12px;
	display: block;
	border-radius: 50%;
	background: #789CB1;
	opacity: 0.5;
	transition: var(--hover-time) ease-out;
	transition-property: background, opacity;
}
.slider-point.focus {
	opacity: 1;
	background: var(--blue-color);
}
.team__cactus {
	z-index: 1;
	width: 250px;
	bottom: -29px;
	right: 92px;
}
.cactus__body {
	transform-origin: center;
	transform-box: fill-box;
	transition: transform var(--hover-time) ease-out;
}
.cactus__container {
	cursor: pointer;
	pointer-events: none;
}
.cactus__container.ready {
	pointer-events: auto;
}
.cactus__body.start {
	transform: scaleX(0.8);
}
.cactus__body.hide {
	transform: scaleX(0.8) translateY(100%);
} 

/*------------------------------contacts-----------------------------------*/

.contacts {
	padding-top: 132px;
	padding-bottom: 170px;
}
.contacts__title {
	margin-bottom: 30px;
}
.contacts__ufo {
	z-index: 1;
	width: 796px;
	top: 28px;
	right: -59px;
}
.ufo__container {}
.ufo__body {}
.ufo__ray {
	display: none;
}
.ufo__ray.animating {
	display: block;
}
.contacts__saturn {
	z-index: 1;
	width: 92px;
	top: 215px;
	right: 48px;
	transition: fill var(--hover-time) ease-out;
}
.contacts__saturn:hover {
	fill: var(--main-color);
}